/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .weather3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .weather {
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .weather2 {
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .weather4 {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.weather5 {
  display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.ots {
  height:100px;
  width: 100%;
}
  main {
    width: 100%
  }
  header{
    width: 100%;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  #txt1 {
    font-size: 24px; 
    position: relative;
    top:100px;
    
  }
 
  .sun {
    position:relative; 
    top:75px;
  }
  .head2 {
    height: 300px;
  }
  

  .header {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;

  }
  .header a{
    font-size: 15px;


  }
.pgd {
  font-size: 20px;
}
.off {
  width: 100%;
  position: relative;
  left:24%;
}
 .lightdark {
  font-size: 14px;
  position: relative;
  top:17%;
  right:4%;
 }

  #txt {
    font-size:18px ;
    position: relative;
    right: 7px;
    bottom:10px;
    transform:translate(1px,-4px)
  }
  html, body {width:100%; overflow-x:hidden}
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .weather3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .weather {
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .weather2 {
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .weather4 {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.weather5 {
  display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
  main {
    width: 100%
  }
  header{
    width: 100%;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  #txt1 {
    font-size: 24px; 
    position: relative;
    top:100px;
    
  }
  .lightdark {
    font-size: 14px;
    position: relative;
    top:17%;
    right:4%;
   }
  .sun {
    position:relative; 
    top:75px;
  }
  .head2 {
    height: 300px;
  }
 

  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    z-index: 2;

  }
  .header a{
    font-size: 15px;


  }
  .pgd {
    font-size: 20px;
  }
  .off {
    width: 100%;
    position: relative;
    left:24%;
  }
  #txt {
    font-size:18px ;
    position: relative;
    left: 17px;
    top:22%;
  
  }
  html, body {width:100%; overflow-x:hidden}
  /* */
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .weather3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .weather {
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .weather2 {
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .weather4 {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.weather5 {
  display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
  main {
    width: 100%
  }
  header{
    width: 100%;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  
  #txt1 {
    font-size: 20px; 
    position: relative;
    top:100px;
    
  }
 
  .sun {
    position:relative; 
    top:75px;
  }
  .head2 {
    height: 300px;
  }

  .lightdark {
    font-size: 14px;
    position: relative;
    top:17%;
    right:4%;
   }
  .header {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;

  }
  .header a{
    font-size: 13px;


  }
  .pgd {
    font-size: 20px;
  }
  .off {
    width: 100%;
    position: relative;
    left:24%;
  }
  #txt {
    font-size:16px ;
    position: relative;
    right: 7px;
    bottom:10px;
    
  }
  html, body {width:100%; overflow-x:hidden}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

  .weather3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .weather {
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .weather2 {
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .weather4 {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.weather5 {
  display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
  main {
    width: 100%
  }
  header{
    width: 100%;
    height: 15px;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
 

  #txt1 {
    font-size: 24px; 
    position: relative;
    top:100px;
    
    
  }
  .lightdark {
    font-size: 14px;
    position: relative;
    top:17%;
    right:4%;
   }
  .sun {
    position:relative; 
    top:85px;
  }
  .head2 {
    height: 300px;
  }
 
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    height: 85px;
    position: absolute;
    z-index: 2;

  }
  .p {
   transform:translate(35px,-22px)
  }
  .p1 {
    transform:translate(-50px,5px)
   }
   .p2 {
    transform:translate(-7px,-22px)
   }
   .lightdark {
    transform:translate(-60px,-1px)
   }
   .pgd {
    font-size: 14px;
  }
  .off {
    width: 100%;
    position: relative;
    left:15%;
  }
  .header a{
    font-size: 15px;
  }
  .info1{
    position: relative;
  
    left:17%;
  }
  .ya-site-form  {
    width: 250px;
    height: 30px;
    position: relative;
    bottom: 20px;
    left: 10%;
  
  }
  #txt {
    font-size:18px ;
    position: relative;
    top:10px;
  }
 
  html, body {width:100%; overflow-x:hidden}

  /* */
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
  .weather3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .weather {
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .weather2 {
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .weather4 {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.weather5 {
  display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
  main {
    width: 100%
  }
  header{
    width: 100%;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  
  #txt1 {
    font-size: 24px; 
    position: relative;
    top:100px;
    
  }
  .sun {
    position:relative; 
    top:75px;
  }
  .head2 {
    height: 300px;
  }
  .pgd {
    font-size: 13px;
  }
  .off {
    width: 100%;
    width: 100%;
    position: relative;
    left:3%;
    
   
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    position: absolute;
    z-index: 2;

  }
  .info1{
    position: relative;
  
    left:17%;
  }
  .ya-site-form  {
    width: 250px;
    height: 30px;
    position: relative;
    bottom: 20px;
    left: 10%;
  
  }
  .lightdark {
    font-size: 14px;
    position: relative;
    top:17%;
    right:4%;
   }
  .header a{
    font-size: 15px;
  }
  #txt {
    font-size:18px ;
    position: relative;
    top:10px;
  }
  html, body {width:100%; overflow-x:hidden}
  /* */
}
