@font-face {
    font-family: 'EntezareZohoor2';
    src:url('fonts/Ustroke-Regular.ttf') ;
    font-weight: normal;
    font-style: normal;
}
/* пропишите стили */
body {
    margin: 0;
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center center;
    background-attachment: fixed;
     
}
header {
    background-image: url(img/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center center;
     background-attachment: fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     font-family: 'EntezareZohoor2';
     width: 100%;
     position: fixed;
     top: 0;
     z-index: 1;
 

     
}

  
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
header h1{
    font-size:200%;
    position: relative;
    right: 10%;
    
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.headerInner {
    display: flex;
    justify-content: space-between;
}
nav {
    width:70%;
}


h2 {
    text-align: center;
    color: #980002;
    font-family: 'EntezareZohoor2';
    font-size: 3em;
    position: relative;
    top:5%;
    opacity: 0;
    animation: ani 2.5s forwards;
}
h3 {
    text-align: center;
    color: aliceblue;
    font-family: 'EntezareZohoor2';
    font-size: 3em;

}
.answer{
    display: flex;
    justify-content: space-evenly;
}
.tes {
    text-align: center;
    color: aliceblue;
    font-family: 'EntezareZohoor2';
    font-size: 2em;
    width: 50%;
}
ul {
    display:flex;
    justify-content:space-between;
    font-size:150%;
    padding-top:1%;
    position: relative;
    left: 5%;
    
}
li {
    list-style:none;
   
}
a {
    text-decoration:none;
    color:#000;
    

}
main{
    width: 100%;
    height: 100vh;
}
main h1 {
    display: flex;
    align-items: center;
    position: relative;
    left: 20%;
    bottom: 2vh;
    color: aliceblue;
    font-family: 'EntezareZohoor2';
    font-size: 3em;

}
.logo img{
    position: relative;
    top:10vh;

}
.logo {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around
}
.halloween-animation{
    width:45vh;
    height: 45vh;

}

.history {
    width: 50%;
    position: relative;
    top:8vh;

}
.btn, .btn2  {
    background-color:#fb7d07;
    color: white;
    font-weight: 900;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left:1%;
    font-size:2em;
    height: 2em;
    font-family: 'EntezareZohoor2';
    position: relative;
    top:6vh;
    opacity: 0;
    animation: ani 2.5s forwards;

}
.start {
    display: flex;
    justify-content: space-around;
}
html:hover .spider {
    top: -120%; 
}

.spider {
    position: fixed;  /* Заменяем на fixed, если хотите чтобы паучок был прилеплен на экране */
    display: inline-block;
    top: 0; /*отступ сверху*/
    right: 70%; /*отступ слева*/

    /* 4. Animatie */
    animation: swing 2s infinite;
    transform-origin: top;

    /* Bonus */
    transition: 1s ease-in-out;
}

.spider .spiderweb {
    width: 2px;
    height: 10vh;  /* высота паутины, чем меньше число, тем она короче */
    margin-left: 5vh; /* двигаем паутину влево-вправо */
    background: rgba(255,255,255, .7); /* цвет паутины */
}
.j{
    height:8vh;
}
.spider .body {
    width: 11vh;  /* ширина тела паука */
    height: 9vh; /* высота тела паука */
    background:  black;; /* цвет тела */
    position: relative;
    border-radius: 50%;
}

.spider .body .eye {
    width: 3vh; /* ширина глаз */
    height: 3vh; /* высота глаз */
    position: absolute;
    bottom: 2vh;
    background: #fff; /* цвет глаз */
    border-radius: 50%;
}

.spider .body .eye.left {
    left: 1vh; /* изменить положение левого глаза */
}

.spider .body .eye.right {
    right: 1vh; /* изменить положение правого глаза */
}

.spider .body .eye:after {
    background: #000; /* цвет зрачков */
    width: 7px; /* ширина зрачка */
    height: 7px; /* высота зрачка */
    content: '';
    display: block;
    margin: 55%;
    border-radius: 50%;

    /* 3. Animatie */
    animation: look 8s infinite;
}

.spider .legs .leg {
    width: 8vh; /* ширина лапок */
    height: 4vh; /* высота лапок */
    margin-top: -20px; 
    border: 5px solid transparent;
    border-top-color:  black; /* цвет лапок */
    border-radius: 40px 40px 0 0;
}

.spider .legs {
    position: absolute;
    bottom: -10%;
    z-index: -1;
}

.spider .legs.left {
    left: -70%; /* изменить положение лапок слева */
}
.spider .legs.right {
    right: -60%; /* изменить положение лапок слева */
}


.legs.left .leg:nth-child(1){
    transform: rotate(10deg);
    margin-left: 10px;
}
.legs.right .leg:nth-child(1){
    transform: rotate(-10deg);
    margin-left: -10px;
}


.legs.left .leg:nth-child(2){
    transform: rotate(-20deg);
    margin-left: 20px;
}
.legs.right .leg:nth-child(2){
    transform: rotate(20deg);
    margin-left: -20px;
}


.legs.left .leg:nth-child(3){
    transform: rotate(-50deg);
    margin-left: 30px;
}
.legs.right .leg:nth-child(3){
    transform: rotate(50deg);
    margin-left: -30px;
}

/* 1. Animatie */
@keyframes look {
    0%, 40%, 100% {
        transform: translateX(0); 
    }

    45%, 95% {
        transform: translateX(-110%);
    }
}

.info, .info2 {
    color: aliceblue;
    font-size: 1.5em;
    font-family: 'EntezareZohoor2';
    padding: 10px 25px;
  }
  
  .info__switch, .info__switch2 {
    display: none;
  }
  
  .info__body,  .info__body3 {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
  }
  
  .info__switch:checked~.info__body, .info__switch2:checked~.info__body3 {
    margin-top:5%;
    max-height: 200vh;
  }
  
  .info__headline::before, .info__headline2::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border: 6px solid #39739d;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    
  }

  @media (min-width: 320px) and (max-width: 1200px) {
    /*Бургер*/
    .burger-menu {
        display: block;
        position: relative;
        left: 90%;
        top:5vh;
        width: 30px;
        height: 20px;
        transition: 0.3s ease;
    }

    .burger-menu::before,
    .burger-menu::after {
        content: ''; /* пустой контент */
        background: black; /*цвет бургера*/
        position: absolute; /* позиция для общего блока*/
      
        width: 100%; /* ширина*/
        height: 2px; /* толщина полосок бургера */
        transition: 0.3s ease;
    }

    .burger-menu::before {
        top: 0; /* расположение верхней линии бургера */
    }
    .burger-menu span { /*средняя линия в виде span*/
        background: black;
        position: absolute; 
        width: 100%;
        top: 9px;
        height: 2px; 
    }
    .burger-menu::after {
        bottom: 0; /* расположение нижней линии бургера */
    }


    /*Меню*/
    .main-nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height:120vh;
        background-color:var(--color1);
        border: 1px solid #fff;
        padding: 20px 10px;
        transform: translateX(100%);
        background-image:url("img/dack.jpg") ;
    }

    .nav-list {
        flex-direction: column;
        text-align: left;
       
    }
    .nav-list li {
        flex-direction: column;
        text-align: left;
        margin-top: 10%;
       
    }

    /* active */

    .burger-menu.active {
        z-index: 3;
        transform: translateX(-45vw);
        transition: 0.3s ease;
    }

    .burger-menu.active::before {
        transform: rotate(45deg);
        top: 9px;
        transition: 0.3s ease;
    }
    .burger-menu.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        transition: 0.3s ease;
    }

    .burger-menu.active span {
        transform: scale(0);
    }

    .main-nav.active {
       transform: translate(0);
       transition: 0.3s ease;
    }


}